.answers {
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
	min-height: 125px;
	width: 650px;
	min-width: 500px;
}

.confirm-button {
	display: flex;
    align-self: flex-end;
}

.answer-button-container {
	display: flex;
	flex-direction: row;
}