body {
	background-color: #F7F7F7;
}

.App {
  display: flex;
  flex-direction: column;
  font-family: 'Quicksand', sans-serif;
}

.menubar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
  height: 60px;
}