.App {
  display: flex;
  flex-direction: column;
  padding: 20px;
}

.App-header {
  background-color: #282c34;
  display: flex;
  flex-direction: column;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

.MainQuiz {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: calc(10px + 2vmin);
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}


.question{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 50vw;
  height: 25vh;
  font-size: calc(10px + 2vmin);
  border: 2px solid rgba(137, 24, 145, 0.5);
  box-shadow: 0 4px 4px rgba(0, 0, 0, 0.4);
  border-radius: 2.5vh;
}

.checkbox{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: calc(10px + 2vmin);
}

.answerButton{
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  height: 100%;
  font-size: calc(10px + 2vmin);
}


.UserName {
  display: flex;
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: calc(10px + 3vmin);
}

.answerBox {
  margin: 0 auto;
  width: 100%;
  height: 100%;
  font-size: calc(10px + 3vmin);
}