.navbar {
	border-style: solid;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	background-color: #d9d1f3;
	width: 100%;
	height: 60px;
}

.nudgeLogo {
	margin-top: 10px;
	display: flex;
	justify-content: flex-start;
	flex-direction: column;
	width: 100%;
	height: 35px;
}

.dashboard-page {
	margin: 50px 5%;
	border-style: solid;
	border-color: red;
	background-color: #f7f7f7;
	display: flex;
	flex-direction: column;
	width: 90%;
	display: flex;
	justify-content: center;
}

.dashboard-top {
	border-style: solid;
	border-color: pink;
	display: flex;
	flex-direction: row;
	justify-content: space-between;
}

.welcome-container {
	display: flex;
	flex-direction: row;
    align-items: center;
	flex: 2 1 0;
}

.user-scores {
	border-style: solid;
	display: flex;
	flex-direction: row;
	justify-content: space-around;
	flex: 1;
	align-items: center;
}

.dashboard-bottom {
    display: flex;
    flex-direction: row;
}

.learning-container {
	display: flex;
	flex-direction: column;
    width: 60%;
}

.welcome-back-text {
	color: #39207E;
}

.leaderboard-container {
	border-style: solid;
	border-radius: 10px;
	border: 2px solid #d9d1f3;
	display: flex;
	flex-direction: column;
	width: 40%;
    
}

.leaderboard-text {
	text-align: center;
}
