.dashboard-page {
	width: 100%;
	background-color: #f7f7f7;
	display: flex;
}

.navbar {
	display: flex;
    flex-direction: row;
    justify-content: space-between;
	background-color: #d9d1f3;
	width: 100%;
	height: 60px;
}

.welcome-container {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

.user-scores {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
}

.dashboard-bottom {
}

.learning-container {
}

.leaderboard-container {
}
